

       .content{
          background-color: #DFE7EF;
          width: 100%;
       }
@media(max-width: 414px){

    .content{
        height: 100%;
     }
    header{
        background: linear-gradient( 109.6deg,  rgba(9,9,121,1) 11.2%, rgba(144,6,161,1) 53.7%, rgba(0,212,255,1) 100.2% );
        color: #FFFFFF;
        width: 100vw;
        height: 40vh;
        padding: 16px;
    
        display: flex;
        align-items: flex-end;
    }
    
    .content-header h1{
         margin-bottom: 16px;
    }

    main{
        width: 100vw;
    }
}
/* Desktop */
@media(min-width: 1024px){
    
    .content{
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100vh;
        grid-template-areas: "main header"
                            "content content";

    }

    main {
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-container{
        width: 400px;
    }
   

    header{
        grid-area: header;
        /* background: url("../../assets/OldCalculator/desktop.svg"); */
        color: #DFE7EF;
        border-radius: 100% 0 0 100%;
        
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        
        background: linear-gradient( 109.6deg,  rgba(9,9,121,1) 11.2%, rgba(144,6,161,1) 53.7%, rgba(0,212,255,1) 100.2% );
        /* background: #e0efe3; */
        
    }
    header h1{
        margin-bottom: 15px;
    }
 

    .content-header{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contentExtra{
        grid-area: content;
        width: 100%;
    }

    .text{
        width: 60%;
    }
    
}


   .form-birthday{
       height: 200px;
       margin: 16px;
       margin-bottom: 0;
       padding-top: 25px;
       padding-bottom: 16px;
   }

   .form-birthday form{
       display: flex;
       flex-flow: wrap;
       margin-top: 12px;
   }

   .form-birthday input{
       height: 44px;
       font-size: 16px;
       line-height: 20px;
       text-align: center;

       border: 1px solid #7c8894;
       border-radius: 4px;
   }

   .form-birthday .button{
       height: 100%;
       width: 100%;

       display: flex;
       justify-content: center;
   }

    .form-birthday button{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 37px;

        width: 114px;
        height: 40px;

        background-color: #7b16ff;
        color: #FFFFFF;
        border: 0px;
        border-radius: 50px;
        box-shadow: 0px 3px 6px rgba(110,116,134,0.24);
        font-weight: bold;
    }

    .desc{
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #FFFFFF;

        border-top: 2px solid #7C8894;
        border-bottom: 2px solid #7C8894;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desc-container h2{
        margin-bottom: 15px;
    }
    .desc-container{
        margin: 20px;
        
    }

    .result {
        background: #FFFFFF;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 30px;

        margin: 10px;
        margin-bottom: 20px;
    }

    .result p{
        margin: 0%;
    }

    .result .result-container{
        height: 100%;
        padding: 20px;
        font-size: 14px;

        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .contentExtra{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
        padding: 20px;
    }

    .text{
        background: #fff;
        border-radius: 20px;
        height: auto;
        padding: 20px;
        font-size: 13px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
